
.services__container {
    padding: 110px 60px 6px 60px;
    /* display: flex;
    position: relative; */
}
.services__inner {
    position: relative;
    -webkit-background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/services/1920x1080.png);
    width: 100%;
    height: 971px;
    flex-shrink: 0;
    background-position: center;
    overflow: hidden;
}
.services__photo_title {
    color: #FFF;
    font-size: 60px;
    font-family: 'Space Grotesk';
    font-weight: 700;
    line-height: 80px;
    /* text-transform: capitalize; */
  }
.services__photo_title_yellow {
    color:#FCD54C;
    font-size: 60px;
    font-family: 'Space Grotesk';
    font-weight: 700;
    line-height: 80px;
    /* text-transform: capitalize; */
  }
  .services__inner_text {
    margin-top: 37%;
    margin-left: 18.5%;
    width: 38%;
  }
  .services__inner_text-supertitle {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
  }
  /* breadcrumbs */
.breadcrumbs {
  padding: 14px  0px  0px  21%;
  }
  
  ul.breadcrumb {
    padding: 10px 0px;
    list-style: none;
    /* background-color: #eee; */
    
  }
  ul.breadcrumb li {
    display: inline;
    color: #FFF;
    font-family:"Work Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  ul.breadcrumb li + li:before {
    padding: 8px;
    color: #FFF;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #FFF;
    text-decoration: none;
  }
  .breadactive {
    color:  #929292;
    /* font-weight: 700; */
  }
  ul.breadcrumb li a.is-active:focus {
    background: #edf1f5;
    /* font-weight: 700; */
    color: #929292;
    text-decoration: underline;
  }
  .breadcrumb_a.is-active:focus {
    background: #323f4a;
    color: #323f4a;
  }
  ul.breadcrumb li a:hover {
    color: #929292;
    text-decoration: underline;
  }
  
  ul.breadcrumb:focus:after,
  ul.breadcrumb:focus,
  ul.breadcrumb.is-active:focus {
    background: #323f4a;
    color: #fff;
  }
  /* breadcrumbs end */
  /* services__text */
  /* .services__text {
    display: flex;
    justify-content: center;
  } */
  .services__text_container {
    display: flex;
    justify-content: center;
    padding: 76px 0px 70px 0px;
  }
  .services__text_inner_photo {
    /* width: 1110px; */
  }
  .services__text_container__photo {
    display: flex;
    justify-content: center;
    padding: 0px 403px;
  }
  .services__text_text {
    color: #929292;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding-bottom: 50px;
  }
  .services__text_inner {
    width: 728px;
  }
  .services__text_photo {
    /* padding: 0px 21% 0px 21%; */
  }
  .services__text_photo-photo {
    width: 100%;
  }
  .services__text_title {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    padding-bottom: 50px
  }
  .section__rectang_text {
    width: 730px;
    height: 259px;
    border: 4px solid #FCD54C;
    position: relative;
  }
  .section__card_quotes {
    position: absolute;
    flex-shrink: 0;
    color: #FCD54C;
    font-family: 'Work Sans';
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: 200px;
    left: 45px;
    top: -20px;
  }
  .section__rectang_text-inner {
    padding: 37px 72px 0px 128px;

  }
  .section__rectang_text_text {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }
  .section__rectang_text_subtext {
    padding-top: 28px;
  }
  .section__rectang_text-name {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }
  .section__rectang_text-namegr{
    color: #929292;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .services__photo_container {
    display: flex;
    justify-content: center;
  }
  .services__photo-inner {
    display: flex;
    width: 1110px;
    justify-content: space-between;
  }
  .services__photo-colon {
    width: 540px;
    display: flex;
    flex-direction: column;
  }
  .services__photo-colon-img {
    /* margin-right: 30px; */
    margin-bottom: 30px;
    height: 302px;
  }
  .services__photo-colon-imgt {
    /* margin-right: 30px; */
    height: 302px;
  }
  /* services__text_container end */
  /* services__working */
  .working_inner-number {
    display: flex;
    padding-bottom: 20px;
  }
  .services__working_container {
    display: flex;
    justify-content: center;
    padding: 100px 0px 70px 0px;
  }
  .services__working_inner {
    width: 730px;
  }
  .number__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .number__big {
    color: #FCD54C;
    font-family: "Work Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 24px;
  }
  .number__small {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
  }
  .number__bighun {
    color: #FCD54C;
    font-family: "Work Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .number__big-plas {
    color: #FCD54C;
    font-family: "Work Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 24px;
    margin-bottom: 50px;
  }
  .services__working_title {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    padding: 50px 0px;
  }
  .services__working_text-text {
    color: #929292;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 46px;
  }
  .services__working_subtitle {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 30px;
  }
  .services__working_liner {
    background: #929292;
    width: 730px;
    height: 1px;
  }
  .services__working_textul{
    padding-top: 65px;
    margin-left: 10px;
  }
  .services__working_textul ul li {
    color: #929292;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 10px;
  }
  
  /*services__working end */

  /* complete__plate */
  .complete__plate_container {
    display: flex;
    justify-content: center;
    padding: 100px 0px 70px 0px;
  }
  .complete__plate_inner {
    width: 1110px;
  }
  .complete__plate_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    flex-shrink: 0;
    background: #FCD54C;
    padding: 0px 107px 0px 20px;
    
  }
  .complete__plate_top-text {
    color: #272727;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .complete__plate_top-texttwo {
    display: flex;
    justify-content: space-between;
    width: 426px;
    color: #272727;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .complete__plane_term {
    display: flex;
    align-items: center;
    height: 52px;
    justify-content: space-between;
  }
  .complete__plate-list {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-left: 20px;
  }
  .complete__plane_term:nth-child(odd) {
    background: rgba(255, 255, 255, 0.10);
  }
  /* complete__plate end */
  /* propose */
  .propose {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .propose__container {
    padding: 140px 0px 240px 0px;
  }
  .propose__title_inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .propose__title {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; 
  }
  .propose__button {
    border-style: none;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .propose__button_a {  
    text-decoration: none;
    color: #929292;
    font-family: 'Gilroy';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
  }
  .propose__button_svg {
    padding-left: 30px;
  }
  .propose__card_inner {
    display: flex;
    padding-top: 90px;
  }
  .propose__card_card {
    padding-right: 30px;
  }
  .propose__card_card:last-child {
    padding-right: 0px;
  }
  .propose__inner{
    position:relative;
    box-sizing: border-box;
    width: 100%;
    height: 352px;
  }
  .propose__card_img {
    margin-right: 3px;
    box-sizing: border-box;
    border: 1px solid #FCD54C;
    fill: #272727;
    /* width: 350px; */
  }
  .propose__card_img-img {
    margin: -2px;
    margin-bottom: -8px;
    opacity: 1;
    /* width: 352px; */
    width: 101%;
    height: 352px;
  }
  .propose__inner:hover .propose__card_img img {
    opacity: 0;
  }
  .propose__item-text {
    color: #FFF;
    font-size: 32px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    z-index: 50;
    position: absolute;
    left: 20px;
    bottom: 51px;
  }
  .propose__item_text {
    position: absolute;
    top: 41px;
    left: 0;
    width: 259px;
    padding: 0px 50px 34px 36px;
    opacity: 0;
  }
  .propose__inner:hover .propose__item_text {
    opacity: 1;
  }
  .propose__inner:hover .propose__item-text {
    opacity: 0;
  }
  .propose__item_title {
    padding: 15px 0px 28px 0px;
    color: #FFF;
    font-family: 'Gilroy';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
  }
  .propose__item_text_text {
    color: #929292;
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 0px 64px 0px;
  }
  .propose__button {
    border-style: none;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .propose__item_a {
    text-decoration: none;
    color: #FCD54C;
    font-family: 'Gilroy';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    padding:0px 19px 0px  0px;
  }
  .complete__plate-check {
    display: flex;
    justify-content: space-around;
    width: 600px;
  }
  /* propose end */

  /* BLOG */
  .blog__container {
    padding: 110px 65px 6px 60px;
    display: flex;
    justify-content: space-between;
  }
  .blog__title {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
  }
  .blog__title_search {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }
  .title_search {
    color: #929292;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    border: 1px solid #929292;
    background: transparent;
    width: 800px;
    height: 74px;
    padding-left: 15px;
  }
  /* BLOG end */
  /* blog picture */
  .blog__picture_container {
    display: flex;
    justify-content: center;
    padding: 73px 0px 115px 0px;
  }
  .blog__picture_inner {
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog__picture_card {
    width: 350px;
    height: 520px;
    flex-shrink: 0;
    position: relative;
    padding-bottom: 50px;
  }

  .blog__picture_text {
    position: absolute;
    padding: 17px 30px 8px 30px;
    background: #272727;
    box-sizing: border-box;
    border: 1px solid #FCD54C;
    width: 350px;
    bottom: 40px;
  }
  .blog__picture_title {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    padding-bottom: 23px;
  }
  .blog__picture_text-text {    
    color: #929292;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 13px;
  }
  .blog__picture_more {
    display: flex;
    align-items: center;
  }
  .blog__picture_button {
    border-style: none;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .blog__picture_button_a {
    text-decoration: none;
    color: #FFF;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding-right: 20px;
  }
  .blog_page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog_page_all {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginationItem {
    width: 32px;
    height: 32px;
    font-family: "Gilroy";
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    font-weight: 400;
    color: #FFF;
    /* background-color: rgba(127, 156, 250, 0.979); */
    /* border-radius: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginationItem_active {
    color: #fff;
    background: #FCD54C;
    flex-shrink: 0;
}
.complete__plate-checkmark {
  color: #FCD54C;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
}
.complete__plate-manage {
  color: #FCD54C;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
}
  /*  */
  /* contact */
.contacts__container {
  padding: 110px 0px 6px 0px;
  display: flex;
  justify-content: space-around;
}
.contact__title {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}
.contact__map_container {
  padding: 110px 60px 215px 60px;
  display: flex;
  justify-content: center;
}
.contact__mapall {
  position: relative;
}
.contact__map_card {
  position: absolute;
  padding: 82px 90px 88px 90px ;
  box-sizing: border-box;
  border-style: none;
  background-color: #272727;
  width: 544px;
  height: 605px;
  top:388px;
  left:200px;
}
.mapall {
  width: 1800px;
  /* width: 100%; */
  height: 768px;
}
.contact__map_title {
  padding-bottom: 35px;
}
.contact__map_title-w {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
.contact__map_title-or {
  color: #FCD54C;
  font-family: "Gilroy";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
.contact__map-text {
  color: #929292;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 62px;
}
.contact__map-telef {
  padding-bottom: 92px;

}
.contact__map-tel {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
.contact__map-em {
  padding-bottom: 30px;
  
}
.contact__map-e {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; 
}
.contact__map-email {
  color: #929292;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.contact__map-follow {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  padding-bottom: 35px;
}
.contact__map-work {
  display: flex;
  padding-bottom: 30px;

}
.contact__map-hours {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.contact__map-time {
  color: #929292;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; 
}
.contact__container_quest {
  /* padding: 110px 60px 215px 60px; */
  display: flex;
  justify-content: center;
}
.question_section_form_colon {
  display: flex;
  padding-bottom: 30px;
}
.question_section_form {
  padding-right: 30px;
}
.question_section_form:last-child {
  padding-right: 0px;
}
.question_section_form_colon_all {
  width: 1110px;
}
.question_span {
  display: none;
}
.question_form_input {
  width: 350px;
  height: 50px;
  flex-shrink: 0;
  border: 1px solid #C9C9C9;
  background-color: #272727;
  color: #929292;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 25px;
  box-sizing: border-box;
}
.question_form_message {
  width: 1110px;
  height: 218px;
  flex-shrink: 0;
  border: 1px solid #C9C9C9;
  background-color: #272727;
  color: #929292;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  line-height: normal;
  padding-left: 25px;
  padding-top: 25px;
  margin-bottom: 30px;
}
.question_form_button {
  width: 151px;
  height: 52px;
  flex-shrink: 0;
  background-color: #FCD54C;
  color: #272727;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  }

  /* end contact */

  @media (max-width: 1900px) {
    .mapall {
      width: 1700px;
      height: 768px;
    }
  }
  @media (max-width: 1800px) {
    .mapall {
      width: 1600px;
      height: 768px;
    }
    .contact__map_card {
      padding: 82px 90px 88px 90px ;
      width: 544px;
      height: 605px;
      top:388px;
      left:100px;
    }
  }

  @media (max-width: 1700px) {
    .services__inner {
      height: 871px;
    }
    .services__inner_text {
      margin-top: 34%;
      margin-left: 18.5%;
      width: 47%;
    }
   .services__text_container__photo {
    display: flex;
    justify-content: center;
    padding: 0px 300px;
    }
    .mapall {
      width: 1500px;
      height: 768px;
    }
    .contact__map_card {
      padding: 62px 60px 68px 60px ;
      width: 494px;
      height: 555px;
      top:388px;
      left:100px;
    }
    .contact__map-telef {
      padding-bottom: 52px;
  }
  }

  @media (max-width: 1600px) {
    .mapall {
      width: 1400px;
      height: 750px;
    }
  }
  @media (max-width: 1500px) {
    .services__inner {
      height: 800px;
     }
    .services__container {
      padding: 110px 40px 6px 40px;
    }
    .services__inner_text {
      margin-top: 33%;
      margin-left: 16%;
      width: 54%;
     }
     .breadcrumbs {
      padding: 14px 0px 0px 15%;
    }
    .services__text_container__photo {
      display: flex;
      justify-content: center;
      padding: 0px 200px;
     }
     .section__rectang_text {
      width: 630px;
      height: 259px;
      border: 4px solid #FCD54C;
      position: relative;
  }
    .section__rectang_text-inner {
      padding: 37px 62px 0px 100px;
    }
    .section__card_quotes {
      position: absolute;
      flex-shrink: 0;
      color: #FCD54C;
      font-family: 'Work Sans';
      font-size: 120px;
      font-style: normal;
      font-weight: 600;
      line-height: 200px;
      left: 25px;
      top: -20px;
    }
    .mapall {
      width: 1300px;
      height: 730px;
    }
  }
  @media (max-width: 1400px) {
    .mapall {
      width: 1200px;
      height: 700px;
    }
    .contact__map_card {
      padding: 20px 20px 20px 30px;
      width: 440px;
      height: 450px;
      top: 410px;
      left: 100px;
  }
  .contact__map-text {
    padding-bottom: 30px;
  }
  .contact__map-telef {
    padding-bottom: 30px;
  }
  }
  @media (max-width: 1300px) {
  .services__inner {
    height: 770px;
   }
  .services__photo_title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }
  .services__photo_title_yellow {
    color: #FCD54C;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }
  .services__inner_text {
    margin-top: 39%;
    margin-left: 14%;
    width: 54%;
  }
  .services__text_container__photo {
    display: flex;
    justify-content: center;
    padding: 0px 100px;
   }
   .services__photo-inner {
    display: flex;
    width: 960px;
    justify-content: space-between;
   }
   .services__photo-colon-img {
    /* margin-right: 30px; */
    margin-bottom: 10px;
    height: 270px;
   }
   .services__photo-colon-imgt {
    height: 270px;
   }
   .services__photo-colon {
    width: 470px;
  }
  .complete__plate_inner {
    width: 900px;
   }
   .complete__plate-check {
    display: flex;
    justify-content: space-around;
    width: 500px;
  }
  .complete__plate_top-texttwo {
    width: 345px;
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .propose__card_inner {
    display: block;
    padding-top: 90px;
  }
  .propose__card_card {
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .blog__picture_container {
    display: flex;
    justify-content: center;
    padding: 73px 50px 115px 50px;
  }
  .blog__container {
    padding: 110px 40px 6px 40px;
    display: flex;
    justify-content: space-between;
  }
  .blog__picture_inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .blog__title_search {
    width: 450px;
    height: 74px;
    padding-left: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .contact__map_container {
    padding: 80px 60px 115px 60px;
    flex-direction: column-reverse;
  }
  .mapall {
    width: 100%;
    height: 670px;
  }
  .contact__map_card {
    position: relative;
    border: 1px solid #FCD54C;
    padding: 20px 20px 20px 30px;
    width: 440px;
    height: 450px;
    top: 0px;
    left: 0px;
    margin-bottom: 50px;
  }
  }

  @media (max-width: 1000px) {
    .services__inner {
      height: 700px;
     }
    .services__container {
      padding: 90px 30px 6px 30px;
    }
    .services__inner_text {
      margin-top: 45%;
      margin-left: 10%;
      width: 60%;
    }
    .services__photo_title {
      color: #FFF;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
    }
    .services__photo_title_yellow {
      color: #FCD54C;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
    }
    .breadcrumbs {
      padding: 14px 0px 0px 10%;
    }
    .services__text_inner {
      width: 628px;
    }
    .services__text_text {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      padding-bottom: 40px;
    }
    .services__text_container__photo {
      display: flex;
      justify-content: center;
      padding: 0px 80px;
     }
     .section__rectang_text {
      width: 610px;
      height: 259px;
      border: 4px solid #FCD54C;
      position: relative;
    }
    .section__rectang_text-inner {
      padding: 37px 62px 0px 100px;
    }
    .section__card_quotes {
      position: absolute;
      font-size: 120px;
      font-weight: 600;
      line-height: 200px;
      left: 25px;
      top: -20px;
    }
    
    .services__photo-inner {
      display: flex;
      width: 470px;
      justify-content: center;
      flex-direction: column;
    }
    .services__photo-colon-imgt {
      padding-bottom: 20px;
    }
    .services__working_inner {
      width: 530px;
    }
    .working_inner-number {
      display: flex;
      padding-bottom: 10px;
    }
    .number__big {
      color: #FCD54C;
      font-size: 55px;
      font-weight: 700;
      padding-right: 15px;
    }
    .number__bighun {
      color: #FCD54C;
      font-size: 55px;
      font-weight: 700;
    }
    .number__big-plas {
      color: #FCD54C;
      font-size: 30px;
      font-weight: 700;
      padding-right: 15px;
      margin-bottom: 35px;
    }
    .services__working_title {
      color: #FFF;
      font-family: "Gilroy";
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 35px;
      padding:30px 0px 20px 0px;
    }
    .services__working_liner {
      background: #929292;
      width: 530px;
      height: 1px;
    }
    .services__working_text-text {
      color: #929292;
      font-family: "Work Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      padding-bottom: 16px;
    }
    .services__working_subtitle {
      color: #FFF;
      font-family: "Gilroy";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      padding-bottom: 10px;
    }
    .services__working_textul {
      padding-top: 35px;
      margin-left: 10px;
    }
    .complete__plate_inner {
      width: 700px;
    }
    .complete__plate_top-texttwo {
      width: 310px;
      color: #272727;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
   }
   .complete__plate-check {
    display: flex;
    justify-content: space-around;
    width: 355px;
   }
   .complete__plate_top-text {
    color: #272727;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .complete__plate_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    flex-shrink: 0;
    background: #FCD54C;
    padding: 0px 30px 0px 20px;
}
  }
  @media (max-width: 900px) {
    .services__inner {
      height: 600px;
     }
     .breadcrumbs {
      padding: 14px 0px 0px 6%;
    }
    .services__text_container {
      display: flex;
      justify-content: center;
      padding: 60px 0px 50px 0px;
    }
    .services__text_container__photo {
      display: flex;
      justify-content: center;
      padding: 0px 60px;
     }
     .contact__title {
      color: #FFF;
      font-size: 40px;
      font-weight: 700;
      line-height: 80px;
  }
  }
  @media (max-width: 800px) {
    .services__inner {
      height: 500px;
     }
     .services__container {
      padding: 90px 30px 6px 30px;
     }
     .services__inner_text {
      margin-top: 33%;
      margin-left: 8%;
      width: 65%;
     }
     .services__photo_title {
      color: #FFF;
      font-size: 35px;
      font-weight: 700;
      line-height: 35px;
     }
     .services__photo_title_yellow {
      color: #FCD54C;
      font-size: 35px;
      font-weight: 700;
      line-height: 35px;
    }
    .breadcrumbs {
      padding: 14px 0px 0px 6%;
    }
    .services__text_inner {
      width: 528px;
    }
    .services__text_container__photo {
      display: flex;
      justify-content: center;
      padding: 0px 40px;
     }
     .section__rectang_text {
      width: 520px;
      height: 259px;
      border: 4px solid #FCD54C;
      position: relative;
    }
    .section__rectang_text-inner {
      padding: 20px 30px 0px 85px;
    }
    .section__card_quotes {
      position: absolute;
      font-size: 100px;
      font-weight: 600;
      line-height: 200px;
      left: 15px;
      top: -20px;
    }
    .section__rectang_text_text {
      color: #FFF;
      font-family: "Gilroy";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
  }
  .contact__map_container {
    padding: 80px 30px 115px 30px;
    flex-direction: column-reverse;
}
.contact__map_card {
  position: relative;
  border: 1px solid #FCD54C;
  padding: 20px 20px 20px 30px;
  width: 380px;
  height: 450px;
  top: 0px;
  left: 0px;
  margin-bottom: 50px;
}
  .mapall {
    height: 570px;
  }
  .contact__map_title {
    padding-bottom: 20px;
}
.contact__map-text {
  padding-bottom: 20px;
}
.contact__map-tel {
  color: #FFF;
  font-family: "Gilroy";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
.contact__map-telef {
  padding-bottom: 20px;
}
.contact__map-em {
  padding-bottom: 20px;
}
.contact__map-follow {
  padding-bottom: 20px;
}
  }

  @media (max-width: 768px) {
    .services__inner {
      height: 372px;
     }
     .services__text_inner {
      width: 475px;
    }
    .services__text_text {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      padding-bottom: 30px;
  }
    .section__rectang_text {
      width: 465px;
      height: 259px;
      border: 4px solid #FCD54C;
      position: relative;
    }
    .services__photo-inner {
      display: flex;
      width: 400px;
      justify-content: center;
      flex-direction: column;
  }
    .services__photo-colon {
      width: 400px;
    }
    .services__working_inner {
      width: 475px;
    }
    .number__big {
      color: #FCD54C;
      font-size: 45px;
      font-weight: 700;
      padding-right: 10px;
    }
    .number__bighun {
      color: #FCD54C;
      font-size: 45px;
      font-weight: 700;
    }
    .number__big-plas {
      color: #FCD54C;
      font-size: 20px;
      font-weight: 700;
      padding-right: 10px;
      margin-bottom: 35px;
    }
    .number__small {
      color: #FFF;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
  }
  .services__working_liner {
    width: 475px;
    height: 1px;
  }
  .complete__plate_inner {
    width: 550px;
  }
  .complete__plate-check {
    display: flex;
    justify-content: space-around;
    width: 219px;
  }
  .complete__plate_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    flex-shrink: 0;
    background: #FCD54C;
    padding: 0px 7px 0px 20px;
  }
  .complete__plate_top-texttwo {
    width: 250px;
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .blog__container {
    padding: 110px 30px 6px 30px;
    display: block;
  }
  .blog__title_search {
    width: 300px;
    height: 74px;
    padding-left: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
  }

  @media (max-width: 600px){
    .services__photo_title {
      color: #FFF;
      font-size: 27px;
      font-weight: 700;
      line-height: 30px;
  }
  .services__photo_title_yellow {
    color: #FCD54C;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
  }
  .services__text_inner {
    width: 450px;
  }
  .section__rectang_text {
    width: 445px;
    height: 259px;
    border: 4px solid #FCD54C;
    position: relative;
  }
  .services__photo-inner {
    display: flex;
    width: 380px;
    justify-content: center;
    flex-direction: column;
}
  .services__photo-colon {
    width: 380px;
  }
  .complete__plate_inner {
    width: 450px;
  }
  .complete__plate_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    flex-shrink: 0;
    background: #FCD54C;
    padding: 0px 7px 0px 20px;
}
  .complete__plate-list {
    color: #FFF;
    width: 300px;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    padding-left: 10px;
  }
  .complete__plate_top-texttwo {
    width: 140px;
    color: #272727;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .complete__plane_term {
    display: flex;
    align-items: center;
    height: 42px;
    justify-content: space-between;
  }
  .complete__plate_top-manag {
    width: 50px;
  }
  .complete__plate_top-control {
    width: 50px;
  }
  .propose__container {
    padding: 120px 20px 140px 20px;
  }
  .propose__title_inner {
    display: block;
  }
  .paginationItem {
    width: 32px;
    height: 32px;
    padding: 0 0px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    font-weight: 400;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .mapall {
      height: 500px;
    }
    .contact__map_container {
      padding: 80px 15px 90px 15px;
      flex-direction: column-reverse;
  }
  .services__working_inner {
    width: 400px;
}
.services__working_liner {
  width: 400px;
  height: 1px;
}
  .number__big {
    color: #FCD54C;
    font-size: 40px;
    font-weight: 700;
    padding-right: 7px;
  }
  .number__small {
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }
  .number__bighun {
    color: #FCD54C;
    font-size: 40px;
    font-weight: 700;
}
.working_inner-number {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
  }
  @media (max-width: 500px) {
    .services__photo_title {
      color: #FFF;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
  }
  .services__photo_title_yellow {
    color: #FCD54C;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  .breadcrumbs {
    display: none;
  }
  .services__text_inner {
    width: 350px;
  }
  .section__rectang_text {
    width: 340px;
    height: 259px;
    border: 4px solid #FCD54C;
    position: relative;
  }
  .section__rectang_text-inner {
    padding: 10px 20px 0px 60px;
  }
  .section__card_quotes {
    position: absolute;
    font-size: 80px;
    font-weight: 600;
    line-height: 100px;
    left: 6px;
    top: -5px;
  }
  .section__rectang_text_text {
    color: #FFF;
    font-family: "Gilroy";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
   }
   .services__photo-inner {
    display: flex;
    width: 350px;
    justify-content: center;
    flex-direction: column;
   }
  .services__photo-colon {
    width: 350px;
  }
  .complete__plate_inner {
    width: 350px;
  }
  .complete__plate-list {
    color: #FFF;
    width: 250px;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    padding-left: 10px;
  }
  .contact__map_card {
    position: relative;
    border: 1px solid #FCD54C;
    padding: 20px 20px 20px 20px;
    width: 300px;
    height: 450px;
    top: 0px;
    left: 0px;
    margin-bottom: 50px;
  }
  .services__working_liner {
    width: 350px;
    height: 1px;
  }
  .services__working_inner {
    width: 320px;
}
  }
  @media (max-width: 400px) {
    .services__text_inner {
      width: 320px;
    }
    .section__rectang_text {
      width: 310px;
      height: 259px;
      border: 4px solid #FCD54C;
      position: relative;
    }
    .section__rectang_text-inner {
      padding: 10px 10px 0px 50px;
    }
    .section__card_quotes {
      position: absolute;
      font-size: 80px;
      font-weight: 600;
      line-height: 100px;
      left: 2px;
      top: -5px;
    }
    .section__rectang_text_text {
      color: #FFF;
      font-family: "Gilroy";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
    }
    .services__photo-inner {
      display: flex;
      width: 320px;
      justify-content: center;
      flex-direction: column;
     }
    .services__photo-colon {
      width: 320px;
    }
    .complete__plate_inner {
      width: 300px;
    }
    .paginationItem {
      width: 32px;
      height: 32px;
      padding: 0 0px;
      font-size: 14px;
      margin: 0 2px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .contact__map_card {
    position: relative;
    border: 1px solid #FCD54C;
    padding: 10px 10px 10px 10px;
    width: 270px;
    height: 480px;
    margin-bottom: 50px;
  }
  .services__working_liner {
    width: 280px;
    height: 1px;
  }
  .services__working_inner {
    width: 280px;
}
  }