* {
    margin: 0px;
    padding: 0px;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background: #272727;
    font-family: 'Space Grotesk','Work Sans', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    box-sizing: border-box;
    overflow: visible;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
 }
a:hover {
  text-decoration: none;
  }
p {
  margin: 1rem;
 }

.header__container {
  padding: 20px 60px 6px 60px;
  display: flex;
  position: relative;
}
.photo__container {
  padding: 90px 60px 6px 60px;
  display: flex;
  position: relative;
}
.header__logo {
  position: relative;
  width: 170px;
  padding-right: 10.5%;
}
.logo {
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 65px;
  left: 0px;
  top: 0px;
  background-image: url(../images/Rectangle114.png);
  /* border: 2px solid #FCD54C; */
  z-index: 1;
}

.logo__text{
  position: relative;
  left: 1px;
  top: 1px;
  z-index: 10;
  height: 61px;
  /* background: #272727; */
}

.logo__text_title {
  position: absolute;
  /* width: 169px; */
  height: 28px;
  left: 15px;
  top: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #FFFFFF;
}
.logo__suptext {
  position: absolute;
  width: 113px;
  height: 9px;
  left: 15px;
  top: 39px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  opacity: 0.6;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  height: 95px;
  /* background: #272727; */
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}
.header__menu_list {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: inherit;
  height: 70px;
  padding: 0 30px;
  align-items: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 50px;
}
.header__menu_list:hover {
  background: #434343;
  border-radius: 50px;
}
.header__menu_list:hover, .header__menu_list:focus, .header__menu_list:active {
  color: #FCD54C;
}

.header__menu_list a {
  display: inline-block;
  padding: 12px;
  border-radius: 22px;
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -.03em;
  z-index: 3;
  position: relative;
  transition: 1s;
}


.tel-menu {
  display: none;
}
.shadow-menu {
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10000;
  background: #272727;
  box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
  padding: 20px 60px 6px 60px;
}
.menu__list li a {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color:#FFFFFF;
  position: relative;
}
.menu__list li {
  text-decoration: none;
  list-style: none;
}
.sub__menu_list li {
  display: flex;
  text-decoration: none; 
  align-items: center;
  list-style: none;
  width: 266px;
  height: 41px;
  background: #272727;
  border: 1px solid #979797;
  z-index: 50;
  border-radius: 50px;
}
.sub__menu_list {
  display: none;
  position: absolute;
  top: 18px;
  width: 266px;
  border-radius: 50px;
  padding: 36px 0px 12px 0px; 
  margin-left: -10px;
}

.sub__menu_list
.sub_header_inner {
  width: 266px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.sub_header_inner:hover{
  background: #FCD54C;
  color:#272727;
  border-radius: 50px;
}
.header__menu_list a {
  text-decoration: none;
}
.header__menu_list > li {
  list-style: none;
  position: relative;
}
.menu__list > li:hover .sub__menu_list {
  display: block;
  color:#FCD54C;
}
.menu__nav_inner:hover {
  color:#FCD54C;
}
.menu__list > li:hover {
  width: 130%;
  /* margin-left: -20px; */
  color:#FCD54C;
  border-radius: 50px;
  background: #272727;
}

/* .menu__nav_inner:hover:after {
  color:#FCD54C;
  background-color: #FCD54C;
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  display: block;
  align-items: center;
} */

.header__inner {
  display:flex;
  justify-content: space-between;
  padding-left: 26%;
  width: 100%;
}
.header__inner_botton {
  display: flex;
}
.header__button {
  box-sizing: border-box;
  display: flex;
   flex-direction: row;
  align-items: center;
  text-align: center;
  border-style: none;
  padding: 9% 10%;
  background-color: #FCD54C;
  color: #000;
  font-size: 14px;
  font-family: 'Work Sans';
  font-weight: 600;
  gap: 10px;
  flex: none;
  flex-grow: 0;
  cursor: pointer;
}
.header__lang-picker {
  display: flex;
}
.header__lang-picker a {
color:#ffffff;
text-decoration: none;
list-style: none;
padding-left: 10px;
text-align: right;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
}
.lang__active a {
  color:#FCD54C;
}
.menu__inner_tel {
 text-decoration: none;
 color: #FFF;
 font-size: 16px;
 font-weight: 600;
}
.header__inner_lang{
  display: flex;
  align-items: center;
}
.header__inner_tel{
  display: flex;
  align-items: center;
}
.custom__title_line {
  display: none;
}
/* header__photo  */
.header_slider {
  max-width: 100%;
  /* height: 100vh; */
}
.header__slick_slider {
  max-width: 100%;
  /* height: 100vh; */
}
.header__photo-imgone {
  position: relative;
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/slider1.png);
  max-width: 100%;
  height: 971px;
  flex-shrink: 0;
  background-position: center;
  overflow: hidden;
}
.header__photo-imgtwo {
  position: relative;
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/shutterstock.png);
  max-width: 100%;
  height: 971px;
  flex-shrink: 0;
  background-position: center;
  overflow: hidden;
}
.header__photo-imgthree {
  position: relative;
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/slider1.png);
  max-width: 100%;
  height: 971px;
  flex-shrink: 0;
  background-position: center;
  overflow: hidden;
}
.header__photo_text {
   width: 50%;
   position: absolute;
   display: flex;
   margin-top: 15%;
   margin-left: 19.74%;
   z-index: 11;
}
.custom-dots {
  position: relative;
}
.header__photo_text-text {
  position: relative;
  right: 90px;
  top:50px;
}
.header__photo_title {
  color: #FFF;
  font-size: 91px;
  font-family: 'Space Grotesk';
  font-weight: 700;
  line-height: 90px;
  text-transform: capitalize;
}
.header__photo_title_yellow {
  color:#FCD54C;
  font-size: 96px;
  font-family: 'Space Grotesk';
  font-weight: 700;
  line-height: 100px;
  text-transform: capitalize;
}
.header__photo_abovetitle {
  color: #FFF;
  font-size: 16px;
  font-family: 'Work Sans';
  text-transform: uppercase;
}
.header__photo_suptitle {
  color: #FFF;
  font-size: 20px;
  font-family: 'Work Sans';
  font-weight: 700;
  display: flex;
  align-items: center;
}
.header__photo_img {
  padding-left: 10px;
}
/*slick-slide  */
.header__slick_slider.slick-slide {
  max-width: 100%;
  max-height: 100%;
}
.slick-slide {
  max-width: 100%;
}
.header__slick_slider {
  max-width: 100%;
}
.header_slider {
  position: relative;
  max-height: 995px;
}
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.slick-dots-text {
  display: flex;
  width: 116px;
  height: 52px;
  color: #FFF;
  font-size: 16px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.custom-dots {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 60.5%;
  height: 150.083px;
  transform: rotate(0.1deg);
  flex-shrink: 0;
  left: 39.7%;
  top: -173px;
  background-color: #272727;
  cursor: pointer;
}
.custom-dots li {
  text-decoration: none;
  list-style: none;
}
.prev-arrow {
  position: relative;
  color:#ffffff;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4px; 
  bottom:-928px;
  /* top:928px; */
  /* top: 93.3%; */
  left: 26%;
  z-index: 100;
}
.next-arrow {
  color:#929292;
  cursor: pointer;
  font-size: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4px;
  position: relative;
  top: -67px;
  /* left: 550px; */
  left: 30.5%;
}
.next-arrow:hover, .prev-arrow:hover  {
  color: #ffffff;
}
.prev-arrow:active {
  color: #ffffff;

}
.next-arrow:before {
  color:#929292;
  content: '|';
  /* padding-right: 10px; */
  padding-right: 0.6%;
  padding-top: 13px;
}
.slick-active .custom-dots-span {
  color: #FCD54C;
}
.custom-dots-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  border-style: none;
  color: #FFF;
  font-size: 16px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  top:65px;
  position: relative;
  cursor: pointer;
}
.custom-dots-span {
  color: #FFFFFF;
  font-size: 60px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-right: 20px;
}

/*slick-slide end */
/* social icon */
.icon-bar {
  position: fixed;
  right: 80px;
  top: 27%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}
.sticky-social_soc {
  width: 48px;
  height: 192px;
  background: transparent;
  position: relative;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.fa-brands, .fab  {
  padding-bottom: 20px;
}
.sticky-social {
  display: inline;
  padding: 0;
  margin: 0;
  height: 0px;
  width: 0px;
  line-height: 1.4;
  font-size: 25px;
  color: #FFFFFF;
  border-top-style: none;
}
.faa-brands {
  height: 24px;
  width: 24px;
  padding: 9px 10px;
}

/* social icon end */
/* projects */
.project__container {
  padding: 100px 60px 70px 60px;
  height: 812px;
}
.project__title {
  display: flex;
  align-items: center;
  padding-bottom: 75px;
}
.project__slick_title {
  color: #FFF;
  font-size: 48px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  line-height: 69px;
  padding-left: 346px;
}
.project__slick_filter {
  display: flex;
  padding-left: 350px;
  justify-content: space-around;
}
.project__slick_button {
  cursor: pointer;
  color: #FFF;
  font-size: 16px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  padding-right: 50px;
}
.project__slick_button:active, .project__slick_button:hover {
  color: #FCD54C;
}

.slick_button_active {
  color: #FCD54C; 
}
.slick_button_view{
  color: #929292; 
}

.slider__item img{
  width: 100%;
  height: 29.56vw;
}
.slider__item-text {
  color: #FFF;
  font-size: 32px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  z-index: 50;
  position: absolute;
  left: 45px;
  bottom: 75px;
}
.slick-dots {
  position: absolute;
  bottom: -75px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li button:before {
  color: #929292;
  font-size: 13px;
}

.slick-dots li.slick-active button:before {
  color:#FCD54C;
}
.card__img {
  width: 100%;
  margin-right: 40px;
  background: #FCD54C;
}
.card__img img {
  opacity: 1;
}
.slider__inner {
  position: relative;
  width: 97%;
}
.slider__inner:hover .card__img img {
  opacity: 0;
}
.slider__inner:hover .slider__item-text {
  opacity: 0;
}
.slider__item_text {
  position: absolute;
  top: 50px;
  left:0;
  /* width: 338px; */
  width: 78%;
  padding: 0px 61px 0px 30px;
  opacity: 0;
}
.slider__item_title {
  color: #272727;
  font-family: 'Gilroy';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  padding-bottom: 100px;
}
.slider__item_text_text {
  color: #272727;
  font-family: 'Work Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 158px; 
}
.slider__item_subtitle {
  color: #272727;
  font-family: 'Work Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.slider__inner:hover .slider__item_text {
  opacity: 1;
}
.blockactive {
  display: block;
}
.dispnone {
  display: none !important;
  opacity: 0;
}
/* projects end */

/* apartment*/
.apartment {
  display: flex;
  justify-content: center;
  padding-bottom: 89px;
}
.apartment__inner {
  display: flex;
  flex-direction: column;
  width: 730px;

}
.apartment__inner-toptitle {
  text-align: justify;
  padding-bottom: 40px;
  color: #FCD54C;
  font-family: 'Work Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.apartment__inner-title {
  width: 96%;
  text-align: initial;
  padding-bottom: 33px;
  color: #E8E8E8;
  font-family: 'Gilroy';
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 69px;
}
.apartment__inner-text {
  text-align: left;
  color: #E8E8E8;
  font-family: 'Work Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}


/* apartment end  */

/* video__popup */
.video__popup_container {
  padding: 0px 60px 100px 60px;
  position: relative;
}
.video__popup_inner_img {
  z-index: 40;
}
.video__popup_inner_img {
 width: 100%;
}
.video__popup_inner_img_play {
  position: absolute;
  z-index: 50;
  width: 6.5%;
  left: 47%;
  top: 42%;
}
.video__popup_inner_img_play:hover {
  opacity: 0.8;
}
/* video__popup end */
/* pop up */
.popup {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  transition: all 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.popup.activePop {
  visibility: visible;
  opacity: 1;
}
.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_content {
  background-color: #FCD54C;
  /* max-width: 1800px; */
  width: 85%;
  padding: 50px;
  position: relative;
}
.popup.active.popup_content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
.popup .popup_close {
  position: absolute;
  top: 5px;
  right: 30px;
  transition: all 0ms;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .popup_close:hover {
  color: #fff;
}
/* video */

.video {
  width: 100%;
} 
/* video end */
/* rectangle__colon */
.rectangle__colon_container {
  display: flex;
  justify-content: center;
  padding: 19px 0px 115px 0px;
}
.rectangle__colon_inner {
  width: 1110px;
}
.rectangle__colon_inner-colon {
  display: flex;
}
.rectangle__colon-colon {
  /* padding: 0px 11px; */
  width: 50%
}
.rectangle__colon_center_inner {
  padding-bottom: 64px;
  width: 100%;
}
.colon_one {
  padding-right: 23px;
}
.rectangle__colon_text-centr {
  padding: 70px 90px;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  border: 1px solid #FCD54C;
}
.rectangle__colon_text-centr-orang {
  color: #FCD54C;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.rectangle__colon-colon-text {
  padding-top: 70px;
  color: #E8E8E8;
  font-family: 'Work Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.rectangle__colon-img {
  width: 100%;
}
/* rectangle__colon end */
/* contact */
.contact__container {
  padding: 0px 60px 70px 60px;
}
.contact__inner {
  height: 400px;
  background:url(../images/Rectangle868.svg) no-repeat ;
}
.contact__inner_uptext {
  color: #272727;
text-align: center;
font-family: 'Work Sans';
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 160%;
padding: 87px 0px 15px 0px;
}
.contact__inner_text {
  color: #272727;
text-align: center;
font-family: 'Gilroy';
font-size: 120px;
font-style: normal;
font-weight: 700;
line-height: 69px;
padding-bottom: 54px;
}
.contact__inner_form {
  text-align: center;
}
.inner__form_input {
  width: 225px;
  padding: 23px 42px;
  background: #fff;
  border-style: none;
  color: #272727;
  font-family: 'Work Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inner__form_btn {
  /* width: 10%; */
  padding: 22px 48px;
  margin-left: -3px;
  background-color: #272727;
  border: 0;
  cursor: pointer;
  color: #FFF;
  font-family:'Work Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inner__form_message {
  width: 100%;
  height: 30px;
  color: #272727;
  font-family:'Work Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* contact end */

/* articles */
.articles {
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles__container {
  /* padding: 70px 410px 70px 405px; */
}
.articles__title_inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.articles__title {
  color: #FFF;
  font-family: 'Gilroy';
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.articles__button {
  border-style: none;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.articles__button_a {  
  text-decoration: none;
  color: #929292;
  font-family: 'Gilroy';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}
.articles__button_svg {
  padding-left: 30px;
}
.articles__card_inner {
  display: flex;
  padding-top: 90px;
}
.articles__card_card {
  padding-right: 30px;
}
.card__inner{
  position:relative;
  box-sizing: border-box;
  width: 99%;
  height: 352px;
}
.card__card_img {
  margin-right: 3px;
  box-sizing: border-box;
  border: 1px solid #FCD54C;
  fill: #272727;
  /* width: 350px; */
}
.card__card_img-img {
  margin: -2px;
  margin-bottom: -8px;
  opacity: 1;
  /* width: 352px; */
  width: 101%;
  height: 352px;
}
.card__inner:hover .card__card_img img {
  opacity: 0;
}
.card__inner:hover .slider__item-text {
  opacity: 0;
}
.card__item-text {
  color: #FFF;
  font-size: 32px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  z-index: 50;
  position: absolute;
  left: 38px;
  bottom: 51px;
}
.card__item_text {
  position: absolute;
  top: 41px;
  left: 0;
  width: 259px;
  padding: 0px 50px 34px 36px;
  opacity: 0;
}
.card__inner:hover .card__item_text {
  opacity: 1;
}
.card__inner:hover .card__item-text {
  opacity: 0;
}
.card__item_date {
  color: #FFF;
  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.card__item_title {
  padding: 15px 0px 28px 0px;
  color: #FFF;
  font-family: 'Gilroy';
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}
.card__item_text_text {
  color: #929292;
  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 0px 0px 64px 0px;
}
.card__button {
  border-style: none;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.card__item_a {
  text-decoration: none;
  color: #FCD54C;
  font-family: 'Gilroy';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  padding:0px 19px 0px  0px;
}

/* articles end */
/* slider__clients  */
.slider__clients {
  padding:  100px 0px 75px 0px;
}
.clients__inner_card {
  display: flex;
}
.clients__card_double {
  display: flex;
  position: relative;
}
.clients__card_double.slick-slide {
  display: flex;
  justify-content: center;
}
.clients__card{
  position: relative;
  width: 46%;
  height: 311px;
  flex-shrink: 0;
  border: 1px solid #FCD54C;
  margin:0 30px;
  margin-top: 60px;
}
.clients__card_double.slick-slide  {
  height: 371px;
  margin: 0px 20px 0px 20px;
}
.clients__card_img {
  position: relative;
}
.clients__card_double.slick-center { 
  transform: scale(1.08);
  margin: 60px 20px 18px 20px;
}
.clients__card_double.slick-slide:not(.slick-active) { 
  opacity: 0.3;
}
.card__clients_img {
  position: absolute;
  top:-58px;
  left: 31px;
  width: 112px;
  height: 112px;
  border-radius: 50%;
}
.clients__card_quotes {
  position: absolute;
  flex-shrink: 0;
  color: #FCD54C;
  font-family: 'Work Sans';
  font-size: 120px;
  font-style: normal;
  font-weight: 600;
  line-height: 200px;
  right: 45px;
  top: -20px;
}
.clients__card_text {
  padding: 104px 50px 0px 30px;
}
.clients__card_name {
  color: #FFF;
  font-family: 'Gilroy';
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.clients__card_subtitle {
  display: flex;
  padding: 19px 0px 34px 0px;
}
.clients__card_subtitle_white {
  color: #FFF;
  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.clients__card_subtitle_orange{
  color: #FCD54C;
  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.clients__card-text {
  color: #929292;
  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
/* slider__clients end */
/* faq */
.faq {
  padding:  110px 0px 122px 0px;
}
.faq__container {
  display: flex;
  justify-content: center;
}
.faq__inner {
  width: 1090px;
}
.faq__title {
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Gilroy';
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 30px;
}
.faq__title_inner {
  position: relative;
}
.faq__title_line {
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  height: 1px;
  opacity: 0.2;
  border: 1px solid #929292;
}
.faqaccordion_card {
  position: relative;
}
.faqaccordion_card_title-content {
  display: flex;
  justify-content:space-between;
  align-content: center;
  padding-top: 20px;
}
.faqaccordion_card_title {
  color: #FFF;
  font-family: 'Work Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}
.faqaccordion__accordion_content {
  color: #E8E8E8;
  font-family: 'Work Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  display: none;
  padding: 33px 65px 40px 65px;
}
.content_active .faqaccordion_card_arrow-right {
  display: none;
}
.content_active .card_colon_plass_active {
  display: block;
}

.content_active .faqaccordion__accordion_content {
  display: block;
}

.content_active .faqaccordion_card_arrow-down {
  display: block;
}

.content_active .faqaccordion_card_arrow-right {
  display: none;
}

.faqaccordion_card_arrow-down {
  display: none;
}
/* faq end */

/* footer */
.footer {

}
.footer__liner {
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  height: 1px;
  opacity: 0.2;
  border: 1px solid #929292;
  box-sizing: border-box;
}
.footer__inner {
padding: 70px 0px 0px 0px;
}
.footer__logo {
display: flex;
justify-content: center;
}

.footer_date_fon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_text {
  text-decoration: none;
  color: #E8E8E8;
}
.footer_date {
  padding: 30px 0px 30px 58px;
  color: #E8E8E8;
  font-family: 'Lexend';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  width: 100%;
}
.footer__social_soc {
  display: flex;
  width: 200px;
  background: transparent;
  position: relative;
  text-align: center;
  list-style: none;
  margin: 0;
}
.footer-social {
  display: inline;
  padding: 0;
  margin: 0;
  height: 0px;
  width: 0px;
  line-height: 1.4;
  font-size: 18px;
  color: #FFFFFF;
  border-top-style: none;
}
.footer_data_social {
  display: flex;
    justify-content: end;
    width: 100%;
}
.fa-brands, .fab  {
  padding-right: 20px;
}
.footer__colon_inner {
  display: flex;
  justify-content: space-between;
  padding: 51px 0px 75px 50px;
}
.Buy {
  width: 164px;
}
.Services {
  width: 328px;
}
.Information {
  width: 197px;
}
.company {
  width: 158px;
}
.Contact {
  width: 192px;
}
.footer__colon {
  display: flex;
  flex-direction: column;
}
.footer__colon:last-child {
  padding-right: 75px;
}
.footer__colon_title {
  padding-bottom: 40px;
}
.footer__title {
  color: #E8E8E8;
  font-family: 'Work Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.footer__title a {
  text-decoration: none;
}
.footer_colon_menu_list > li {
  padding: 0px 0px 20px 0px;
}
.footer_inner_nav a {
  text-decoration: none;
}
.footer_inner_nav li {
  list-style: none;
  position: relative;
}
.footer_inner_nav_cont a {
  text-decoration: none;
}
.footer_inner_nav_cont li {
  list-style: none;
  position: relative;
}
.footer_inner_bottoms {
  color: #E8E8E8;
  font-family: 'Work Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer_inner_bottoms-cont {
  color: #E8E8E8;
  font-family: 'Work Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 23px;
}
.footer_inner_bottoms:hover, .footer_inner_bottoms-cont:hover{
  color: #FCD54C;
}
.bottoms-cont {
  margin-top: 67px;
}
.footer_card_arrow-right {
  display: none;
}
.footer_card_arrow-down {
  display: none;
}


/*footer  */

/* nav-toggle */

.nav-toggle {
  width: 30px;
  padding: 10px 0;
  font-size: 0;
  display: none;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle_item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FCD54C;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.nav-toggle.active .nav-toggle_item {
  background: none;
}

.nav-toggle_item:before,
.nav-toggle_item:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #FCD54C;
  position: absolute;
  left: 0;
  z-index: 1;
}

.nav-toggle_item:before {
  top: -8px;
}

.nav-toggle_item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle_item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0);
}

.nav-toggle.active .nav-toggle_item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px, 3px, 0);
}
/* nav-toggle end */

@media (max-width: 1850px) {
  .slider__item_text_text {
    color: #272727;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 140px;
}
}

@media (max-width: 1800px) {
  .prev-arrow {
    left: 23.5%;
  bottom:-928px;
}
.next-arrow {
  left: 28.5%;
  top: -67px;
}
.next-arrow:before {
  padding-right: 0.4%;
}
.header__photo_text {
  width: 57%;
  margin-left: 19.74%;
}
.card__img {
  width: 100%;
  margin-right: 29px;
  background: #FCD54C;
}
.slider__item_text {
  top: 50px;
  left:0;
  padding: 0px 61px 0px 30px;
}
.slider__item_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  padding-bottom: 60px;
}
.slider__item_text_text {
  color: #272727;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 100px;
}
}

@media (max-width: 1700px) {
  .header__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 21%;
    width: 100%;
  }
  .header__photo-imgone, 
  .header__photo-imgtwo,
  .header__photo-imgthree {
    height: 871px;
  }
  .header_slider {
  max-height: 898px;
}
  .prev-arrow {
    left: 23.5%;
  bottom:-828px;
}
.slick-active .custom-dots-span {
  color: #FCD54C;
  padding-left: 7px;
}
.custom-dots {
  width: 60.5%;
  height: 120.083px;
  left: 39.7%;
  top: -141px;
}
.custom-dots-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  top: 45px;
}
.slider__item-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  left: 45px;
  bottom: 65px;
}
.slider__item_text {
  top: 40px;
  left: 0;
  width: 84%;
  padding: 0px 40px 0px 20px;
}
.clients__card {
  width: 48%;
  margin: 0 20px;
  margin-top: 60px;
}
 .clients__card_double.slick-center {
  margin: 60px 30px 18px 30px;
}
.clients__card_double.slick-slide {
  margin-left: 30px;
  margin-right: 30px;
}
.clients__card_text {
  padding: 85px 30px 0px 20px;
}
.clients__card_subtitle {
  padding: 19px 0px 25px 0px;
}

}
@media (max-width: 1600px){
  .header__photo_text {
    width: 70%;
    margin-left: 16.74%;
    margin-top: 12%;
  }
  .header__photo_text-img {
    height: 350px;
  }
  .custom-dots-span {
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
    padding-right: 5px;
}
.slider__item_title {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  padding-bottom: 40px;
}
.slider__item_text_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 60px;
}

}
@media (max-width: 1500px) {
  .header__container {
    padding: 20px 40px 6px 40px;
    display: flex;
    position: relative;
}

  .header__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 11%;
    width: 100%;
  }
  .header__photo_text-text {
    position: relative;
    right: 70px;
    top: 50px;
  }
  .header__photo-imgone, 
  .header__photo-imgtwo,
  .header__photo-imgthree {
    height: 800px;
  }
  .header_slider {
    max-height: 825px;
  }
  .project__container {
    padding: 90px 40px 70px 40px;
    height: 572px;
}
.project__title {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}
  .project__slick_title {
    font-size: 47px;
    font-weight: 700;
    line-height: 69px;
    padding-left: 11%;
}
.project__slick_button {
  font-size: 16px;
  line-height: 21px;
  padding-right: 40px;
}
.project__slick_filter {
  padding-left: 280px;
}
  .header__photo_text {
    width: 70%;
    margin-left: 14.74%;
    margin-top: 10%;
  }
  .prev-arrow {
    left: 22.5%;
    bottom: -758px;
}
.slider__item-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  left: 30px;
  bottom: 55px;
}
.slider__item_text {
  top: 30px;
  left: 0;
  width: 85%;
  padding: 0px 30px 0px 20px;
}

}
@media (max-width: 1400px) {
  .slider__item_text_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 40px;
}
.slider__item_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 21px;
}
.clients__card {
  width: 56%;
  margin: 0 10px;
  margin-top: 60px;
}
 .clients__card_double.slick-center {
  margin: 60px 80px 18px 80px;
}
.clients__card_double.slick-slide {
  margin-left: 80px;
  margin-right: 80px;
}
.header__photo_text {
  width: 66%;
  margin-left: 12.74%;
  margin-top: 10%;
}
.header__photo_title {
  color: #FFF;
  font-size: 80px;
  font-family: 'Space Grotesk';
  font-weight: 700;
  line-height: 70px;
  text-transform: capitalize;
}
.header__photo_title_yellow {
color: #FCD54C;
font-size: 70px;
font-family: 'Space Grotesk';
font-weight: 700;
line-height: 80px;
text-transform: capitalize;
}
}

@media (max-width: 1300px) {
  .header__photo_text-text {
    position: relative;
    right: 90px;
    top: 30px;
}
  .header__menu_list {
    display: flex;
    position: relative;
    width: 55%;
    justify-content: inherit;
}
.header__photo-imgone, 
.header__photo-imgtwo,
.header__photo-imgthree {
  height: 770px;
}
.header_slider {
  max-height: 796px;
}
.header__photo_title {
  color: #FFF;
  font-size: 70px;
  font-family: 'Space Grotesk';
  font-weight: 700;
  line-height: 60px;
  text-transform: capitalize;
}
.prev-arrow {
  left: 20.5%;
  bottom: -730px;
}
.custom-dots-text {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  top: 40px;
}
.project__container {
  padding: 70px 40px 70px 40px;
  height: 572px;
  height: 520px;
}
.project__slick_title {
  font-size: 46px;
  font-weight: 700;
  line-height: 69px;
  padding-left: 10%;
}
.project__title {
  padding-bottom: 40px;
}
.slider__item-text {
  font-size: 27px;
  font-weight: 700;
  line-height: 45px;
  left: 20px;
  bottom: 43px;
}
.slider__item_text {
  top: 30px;
  left: 0;
  width: 88%;
  padding: 0px 10px 0px 20px;
}
.slider__item_text_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 30px;
}
.video__popup_container {
  padding: 0px 40px 100px 40px;
  position: relative;
}
.video__popup_inner_img_play {
  position: absolute;
  z-index: 50;
  width: 6.5%;
  left: 47%;
  top: 39%;
}
.rectangle__colon_inner {
  width: 1000px;
}
.contact__container {
  padding: 0px 40px 70px 40px;
}
.articles__title_inner {
  display: block;
}
.articles__title {
  padding-bottom: 20px;
  font-size: 70px;
  line-height: 60px;
}
.articles__card_inner {
  display: block;
  padding-top: 60px;
}
.articles__card_card {
  padding-right: 0px;
  padding-bottom: 20px;
}
.clients__card {
  width: 60%;
  margin: 0 10px;
  margin-top: 60px;
}
 .clients__card_double.slick-center {
  margin: 60px 90px 18px 90px;
}
.clients__card_double.slick-slide {
  margin-left: 90px;
  margin-right: 90px;
}
.clients__card_subtitle {
  padding: 15px 0px 20px 0px;
}
.clients__card-text {
  color: #929292;
  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.clients__card_quotes {
  position: absolute;
  flex-shrink: 0;
  color: #FCD54C;
  font-family: 'Work Sans';
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: 200px;
  right: 25px;
  top: -30px;
}
.faq__inner {
  width: 890px;
}
.footer__colon_inner {
  padding: 40px 0px 50px 30px;
}
.Services {
  width: 265px;
}
.Information {
  width: 160px;
}
.footer__colon:last-child {
  padding-right: 40px;
}
.header__photo_text {
  width: 70%;
  margin-left: 12.74%;
  margin-top: 10%;
}
}
@media (max-width: 1100px) {
.header__inner {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  width: 100%;
}
.prev-arrow {
  left: 16.5%;
  bottom: -730px;
}
.icon-bar {
  position: fixed;
  right: 40px;
  top: 250px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}
.header_slider {
  max-height: 796px;
}

.header__photo_text {
  width: 74%;
  margin-left: 12.74%;
  margin-top: 10%;
}

.next-arrow {
  left: 24.5%;
  top: -67px;
}
.custom-dots {
  width: 65.5%;
  height: 130.083px;
  left: 34.7%;
  top: -153px;
}
.project__slick_title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 8%;
}
.project__slick_filter {
  padding-left: 200px;
}
.project__container {
  padding: 60px 40px 60px 40px;
  height: 485px;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 10px;
  line-height: 5px;
  width: 20px;
  height: 20px;
}
.slider__item-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 43px;
  left: 15px;
  bottom: 34px;
}
.slider__item_text {
  top: 20px;
  left: 0;
  width: 88%;
  padding: 0px 10px 0px 15px
}
.slider__item_title {
  font-size: 27px;
  font-weight: 700;
  line-height: 16px;
  padding-bottom: 19px;
}
.slider__item_text_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 25px;
}
.slider__item_subtitle {
  font-size: 18px;
  font-weight: 600;
}
.rectangle__colon_inner {
  width: 950px;
}
.rectangle__colon_text-centr {
  padding: 50px 70px;
  font-size: 30px;
  font-weight: 400;
  line-height: 160%;
}
.contact__inner_uptext {
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  padding: 67px 0px 15px 0px;
}
.contact__inner_text {
  font-size: 100px;
  font-weight: 700;
  line-height: 69px;
  padding-bottom: 54px;
}
.clients__card_text {
  padding: 70px 20px 0px 15px;
}
.faq__inner {
  width: 790px;
}
.footer__colon_inner {
  display: block;
}
.footer__colon {
  display: flex;
  flex-direction: inherit;
}
.footer_inner_nav {
  display: none;
}
.footer_card_arrow-down {
  display: none;
}
.colon__contact {
  display: block;
}
.footer__colon {
  display: block;
}
.content_active .footer_inner_nav {
  display: block;
}
.footer__colon_title {
  padding-bottom: 40px;
  display: flex;
}
.colon_title_contact {
  display: block;
}
.footer_card_arrow-right {
  display: block;
}
.footer__title {
  padding-right: 20px;
}
.content_active .footer_card_arrow-right {
  display: none;
}

.content_active .footer_card_arrow-down {
  display: block;
}
.footer__title:after {
  display: block;
  position: absolute;
  width: 93%;
  left: 20px;
  height: 1px;
 margin-top: 10px;
  opacity: 0.2;
  border: 1px solid #929292;
  content: "";
}
.bottoms-cont {
  margin-top: 0px;
}
.Buy {
  width: 100%;
}
.company {
  width: 100%;
}
.Information {
  width: 100%;
}
.Contact {
  width: 192px;
}

}
@media (max-width: 1000px) {
  .header__photo-imgone, .header__photo-imgtwo, .header__photo-imgthree {
    height: 700px;
}
.header__container {
  padding: 10px 30px 6px 30px;
  display: flex;
}
.header__inner {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0px;
  width: 90%;
}
.header__menu_list {
  display: none;
  width: 60%;
  position: absolute;
  top: 0%;
  left: 0px;
  line-height: 20px;
  z-index: 100;
  height: 100vh;
  background: #272727;
  box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
  border-radius: 0px 0px 0px 0px;
  padding-left: 3%;
}
.header__menu_list.active {
  display: block;
  padding-top: 20px;
  transition: 0.9s;
}
.nav-toggle {
  display: block;
}
.header__logo {
  position: relative;
  width: 163px;
  padding-right: 8.5%;
}
.logo__text_title {
  height: 24px;
  left: 15px;
  top: 7px;
  font-size: 24px;
  line-height: 35px;
}
.sticky-social {
  line-height: 1;
  font-size: 20px;
}
.icon-bar {
  right: 15px;
}
.header__photo_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.header__photo_title_yellow {
  font-size: 60px;
  font-weight: 700;
  line-height: 100px;
}
.header__photo_text {
  width: 72%;
  margin-left: 9.74%;
  margin-top: 7%;
}
.header_slider {
  max-height: 725px;
}
.prev-arrow {
  left: 17.5%;
  bottom: -658px;
  font-size: 16px;
}
.next-arrow  {
  font-size: 16px;
}
.custom-dots-span {
  font-size: 50px;
  font-weight: 700;
  line-height: 24px;
  padding-right: 5px;
}
.custom-dots-text {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  top: 36px;
}
.custom-dots {
  width: 65.5%;
  height: 110.083px;
  left: 34.7%;
  top: -132px;
}
.project__slick_title {
  font-size: 37px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 5%;
}
.project__slick_filter {
  padding-left: 70px;
}
.project__title {
  padding-bottom: 30px;
}
.project__container {
  padding: 60px 30px 60px 30px;
  height: 435px;
}
.slider__item-text {
  font-size: 21px;
  font-weight: 700;
  line-height: 43px;
  left: 12px;
  bottom: 27px;
}
.video__popup_container {
  padding: 0px 30px 100px 30px;
}
.rectangle__colon_inner {
  width: 800px;
}
.rectangle__colon-colon-text {
  padding-top: 50px;
  line-height: 160%;
}
.contact__container {
  padding: 0px 30px 70px 30px;
}
.contact__inner_uptext {
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  padding: 67px 0px 15px 0px;
}
.contact__inner_text {
  font-size: 100px;
  font-weight: 700;
  line-height: 69px;
  padding-bottom: 40px;
}
.faq__title {
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Gilroy';
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  padding-bottom: 30px;
}
.faq__inner {
  width: 700px;
}
}

@media (max-width: 900px) {
  .header__photo-imgone, .header__photo-imgtwo, .header__photo-imgthree {
    height: 600px;
}
.sticky-social {
  line-height: 1;
  font-size: 18px;
}
.header__photo_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.header__photo_title_yellow {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.header__photo_text-img {
  height: 300px;
}
.header__photo_text {
  width: 78%;
  margin-left: 6.74%;
  margin-top: 7%;
}
.header_slider {
  max-height: 625px;
}
.custom-dots-text {
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 26px;
  top: 36px;
}
.prev-arrow {
  left: 4.5%;
  bottom: -558px;
}
.next-arrow {
  left: 13.5%;
  top: -67px;
}
.icon-bar {
  right: 10px;
  top: 250px;
}
.fa-brands, .fab {
  padding-bottom: 15px;
}
.slider__item-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 43px;
  left: 10px;
  bottom: 20px;
}
.slider__item_text {
  top: 15px;
  left: 0;
  width: 90%;
  padding: 0px 10px 0px 10px;
}
.slider__item_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 13px;
  padding-bottom: 15px;
}
.slider__item_text_text {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  padding-bottom: 19px;
}
.video__popup_inner_img_play {
  position: absolute;
  z-index: 50;
  width: 6.5%;
  left: 47%;
  top: 36%;
}
.rectangle__colon_inner {
  width: 700px;
}
.rectangle__colon_text-centr {
  padding: 30px 50px;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
}
.rectangle__colon_text-centr-orang {
  color: #FCD54C;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
}
.rectangle__colon_center_inner {
  padding-bottom: 40px;
  width: 100%;
}
.contact__inner_uptext {
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  padding: 67px 0px 15px 0px;
}
.contact__inner_text {
  font-size: 90px;
  font-weight: 700;
  line-height: 69px;
  padding-bottom: 40px;
}
.faq__inner {
  width: 600px;
}
}
@media (max-width: 800px) {
  .header__photo-imgone, .header__photo-imgtwo, .header__photo-imgthree {
    height: 500px;
}
.prev-arrow {
  left: 3.5%;
  bottom: -458px;
  font-size: 12px;
}
.next-arrow {
  left: 13.5%;
  top: -67px;
  font-size: 12px;
}
.header_slider {
  max-height: 526px;
}
.slider__item_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 11px;
  padding-bottom: 15px;
}
.slider__item_subtitle {
  font-size: 16px;
  font-weight: 400;
}
.slider__item_text_text {
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  padding-bottom: 19px;
}
.apartment__inner {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.header__photo_text {
  width: 83%;
  margin-left: 6.74%;
  margin-top: 7%;
}
.apartment__inner-title {
  width: 96%;
  padding-bottom: 28px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.rectangle__colon_inner {
  width: 550px;
}
.rectangle__colon_text-centr {
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 400;
  line-height: 120%;
}
.contact__inner_text {
  font-size: 75px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 40px;
}
.inner__form_input {
  width: 230px;
  padding: 20px 35px;
  background: #fff;
  border-style: none;
  color: #272727;
  font-family: 'Work Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
}
@media (max-width: 768px) {
  .menu__inner_tel {
    font-size: 14px;
    font-weight: 600;
}
.sticky-social {
  line-height: 1;
  font-size: 14px;
}
.icon-bar {
  right: 15px;
  top: 230px;
}
.fa-brands, .fab {
  padding-bottom: 10px;
}
.header__photo-imgone, .header__photo-imgtwo, .header__photo-imgthree {
  height: 372px;
}
.header__button {
  padding: 9% 6%;
  font-size: 12px;
  gap: 10px;
}
.header__photo_title {
  color: #FFF;
  font-size: 50px;
  font-family: 'Space Grotesk';
  font-weight: 700;
  line-height: 80px;
  text-transform: capitalize;
}
.header__photo_title_yellow {
  color: #FCD54C;
  font-size: 50px;
  font-family: 'Space Grotesk';
  font-weight: 700;
  line-height: 80px;
  text-transform: capitalize;
}
.header__photo_text {
  width: 75%;
  margin-left: 2.74%;
  margin-top: 4%;
}
.header__photo_title {
  color: #FFF;
  font-size: 40px;
  font-family: 'Space Grotesk';
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
}
.header__photo_title_yellow {
  color: #FCD54C;
  font-size: 40px;
  font-family: 'Space Grotesk';
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
}
.header__photo_suptitle {
  color: #FFF;
  font-size: 15px;
  font-family: 'Work Sans';
  font-weight: 700;
  display: flex;
  align-items: center;
}
.header__photo_text-img {
  height: 190px;
}
.header__photo_text-text {
  position: relative;
  right: 40px;
  top: 20px;
}
.prev-arrow {
  left: 3.5%;
  bottom: -329px;
  font-size: 12px;
  letter-spacing: 3px;
}
.next-arrow {
  letter-spacing: 3px;
}
.custom-dots-text {
  color: #FFF;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  top: 17px;
}
.custom-dots {
  width: 65.5%;
  height: 60px;
  left: 34.7%;
  top: -83px;
}
.custom-dots-span {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  padding-right: 5px;
}
.slider__item-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
  left: 10px;
  bottom: 20px;
}
.logo__text_title {
  height: 24px;
  left: 12px;
  top: 7px;
  font-size: 22px;
  line-height: 30px;
}
.logo__suptext {
  width: 113px;
  height: 9px;
  left: 12px;
  top: 39px;
  font-size: 11px;
  line-height: 13px;
}
.header__logo {
  position: relative;
  width: 148px;
  padding-right: 6.5%;
}
.slider__item_text {
  top: 15px;
  left: 0;
  width: 93%;
  padding: 0px 5px 0px 5px;
}
.slider__item_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 11px;
  padding-bottom: 10px;
}
.slider__item_text_text {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  padding-bottom: 19px;
}
.slider__item_subtitle {
  font-size: 13px;
  font-weight: 400;
}
.apartment__inner {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.apartment__inner-title {
  width: 96%;
  padding-bottom: 28px;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}
.rectangle__colon-colon-text {
  padding-top: 30px;
  line-height: 130%;
}
.faq__inner {
  width: 500px;
}
.faqaccordion__accordion_content {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.4px;
  display: none;
  padding: 33px 30px 30px 30px;
}
.faq__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  padding-bottom: 10px;
}
.faqaccordion_card_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.4px;
}
.footer__title:after {
  width: 88%;
  left: 20px;
  height: 1px;
  margin-top: 10px;
  opacity: 0.2;
  border: 1px solid #929292;
  content: "";
}
}
@media (max-width: 600px){
  /**
 *  Progress Bar
 */
 .progress {
  display: block;
  width: 93%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f7f1f1;
  background-image: linear-gradient(to right, #FCD54C, #FCD54C);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
  position: absolute;
	left: 20px;
	bottom: 0;
}
.progress span {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0px;
  height: 100%;
  background-color: rgba(233, 233, 120, 0.7);
  transition: all 0s linear;
}
.progress span.active {
  width: 100%;
}
  .header__container {
    padding: 10px 20px 6px 20px;
    display: flex;
}
  .header__inner {
    display: none;
    width: 100%;
    z-index: 100;
}
.header__photo_abovetitle {
  font-size: 14px;
}
.header__photo_title {
  font-size: 37px;
  font-weight: 600;
  line-height: 37px;
}
.custom-dots-text {
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  top: 25px;
}
.header__photo_title_yellow {
  font-size: 37px;
  font-weight: 600;
  line-height: 40px;
}
.custom-dots {
  width: 100%;
  height: 85px;
  left: 0;
  top: -24px;
}
.slick-active .custom-dots-span {
  color: #FCD54C;
  padding-left: 0px;
}
.custom-dots-span {
  font-size: 40px;
  font-weight: 700;
  line-height: 24px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.header__container {
  position: relative;
}
.custom__title_line {
  display: none;
  position: absolute;
  width: 89%;
  left: 30px;
  box-sizing: border-box;
  border: 2px solid #FCD54C;
  bottom: 6px;
}
.slider__item-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
  left: 10px;
  bottom: 12px;
}
.project__container {
  padding: 40px 20px 40px 20px;
  height: 350px;
}
.project__title {
  display: grid;
  align-items: center;
  padding-bottom: 30px;
}
.project__slick_title {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  padding-left: 0%;
  padding-bottom: 10px;
}
.project__slick_filter {
  padding-left: 0px;
  justify-content: flex-start;
}
.slider__item_text {
  top: 10px;
  left: 0;
  width: 93%;
  padding: 0px 5px 0px 5px;
}
.slider__item_title {
  font-size: 16px;
  font-weight: 600;
  line-height: 7px;
  padding-bottom: 10px;
}
.slider__item_text_text {
  font-size: 10px;
  font-weight: 400;
  line-height: 8px;
  padding-bottom: 10px;
}
.slider__item_subtitle {
  font-size: 10px;
  font-weight: 400;
}
.apartment__inner {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.apartment__inner-title {
  width: 96%;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
.apartment__inner-text {
  text-align: left;
  color: #E8E8E8;
  font-family: 'Work Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.video__popup_inner_img_play {
  position: absolute;
  z-index: 50;
  width: 6.5%;
  left: 47%;
  top: 32%;
}
.video__popup_container {
  padding: 0px 20px 100px 20px;
}
.rectangle__colon_container {
  display: flex;
  justify-content: center;
  padding: 19px 0px 95px 0px;
}
.rectangle__colon_inner {
  width: 450px;
}
.rectangle__colon_text-centr {
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.rectangle__colon_center_inner {
  padding-bottom: 30px;
  width: 100%;
}
.rectangle__colon-colon-text {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}
.colon_one {
  padding-right: 15px;
}
.contact__inner_text {
  font-size: 60px;
  font-weight: 700;
  line-height: 40px;
  padding-bottom: 40px;
}
.contact__inner {
  height: 350px;
}
.inner__form_input {
  width: 180px;
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 400;
}
.contact__container {
  padding: 0px 20px 70px 20px;
}
.articles__title {
  padding-bottom: 20px;
  font-size: 50px;
  line-height: 60px;
}

.clients__card_double.slick-slide {
  display: table;
  justify-content: center;
  margin: 10px 40px 50px 40px;

}
.clients__card {
  width: 100%;
  /* margin: 0 30px; */
  margin-top: 80px;
}
.faq__inner {
  width: 450px;
}
.footer__title:after {
  width: 88%;
  left: 20px;
  height: 1px;
  margin-top: 10px;
  opacity: 0.2;
  border: 1px solid #929292;
  content: "";
}
.footer_date {
  padding: 0px 0px 0px 0px;
  color: #E8E8E8;
  font-family: 'Lexend';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer_date_fon {
  flex-direction: column-reverse;
}
.footer_data_social {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}
}
@media (max-width: 500px){
  .header__container {
    padding: 10px 20px 6px 20px;
}
.header__photo-imgone, .header__photo-imgtwo, .header__photo-imgthree {
  height: 352px;
}
  .icon-bar {
    display: none;
 }
 .header__photo_text {
  width: 97%;
  margin-left: 2.74%;
  margin-top: 4%;
}
.slick-dotted.slick-slider {
  margin-top: -20px;
}
.slick-slider.slick__slider_filter   {
  display: flex;
}
.prev-arrow {
  left: 3.5%;
  bottom: -310px;
  font-size: 12px;
  letter-spacing: 3px;
}
.next-arrow {
  left: 16.5%;
  top: -67px;
  font-size: 12px;
}
.custom-dots-span {
  font-size: 35px;
  font-weight: 700;
  line-height: 18px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.slider__item_title {
  font-size: 15px;
  font-weight: 600;
  line-height: 4px;
  padding-bottom: 7px;
}
.slider__item_text_text {
  font-size: 10px;
  font-weight: 400;
  line-height: 8px;
  padding-bottom: 5px;
}
.slider__item_subtitle {
  font-size: 8px;
  font-weight: 400;
}
.rectangle__colon_inner {
  width: 350px;
}
.rectangle__colon_text-centr {
  padding: 10px 15px;
  font-size: 17px;
  font-weight: 400;
  line-height: 120%;
}
.rectangle__colon_text-centr-orang {
  font-size: 17px;
  font-weight: 400;
  line-height: 120%;
}
.inner__form_input {
  width: 150px;
  padding: 18px 35px;
  font-size: 15px;
  font-weight: 400;
}
.inner__form_btn {
  padding: 19px 35px;
  margin-left: -3px;
  font-size: 14px;
  font-weight: 600;
}
.contact__inner_text {
  font-size: 50px;
  font-weight: 700;
  line-height: 40px;
  padding-bottom: 40px;
}
.card__inner {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 352px;
}
.card__item-text {
  font-size: 32px;
  left: 20px;
}
.card__item_text {
  position: absolute;
  top: 20px;
  left: 0;
  width: 245px;
  padding: 0px 0px 34px 10px;
}
.card__item_title {
  padding: 15px 0px 28px 0px;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
}
.faq__inner {
  width: 350px;
}
.project__slick_button {
  font-size: 16px;
  line-height: 21px;
  padding-right: 30px;
}
}
@media (max-width: 400px){
  .custom-dots-text {
    display: grid;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    top: 17px;
}
.custom-dots-span {
  font-size: 35px;
  font-weight: 700;
  line-height: 18px;
  padding-right: 0px;
  padding-bottom:15px;
}
.header__photo_abovetitle {
  font-size: 12px;
}
.header__photo_title {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
}
.header__photo-imgone, .header__photo-imgtwo, .header__photo-imgthree {
  height: 320px;
}
.prev-arrow {
  left: 3.5%;
  bottom: -278px;
  font-size: 12px;
  letter-spacing: 3px;
}
.header__photo_title_yellow {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
}
.header__photo_suptitle {
  color: #FFF;
  font-size: 13px;
  font-family: 'Work Sans';
  font-weight: 700;
  display: flex;
  align-items: center;
}
.project__container {
  padding: 10px 20px 10px 20px;
  height: 280px;
}
.video__popup_inner_img_play {
  position: absolute;
  z-index: 50;
  width: 6.5%;
  left: 47%;
  top: 28%;
}
.rectangle__colon_inner {
  width: 300px;
}
.inner__form_input {
  width: 140px;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 400;
}
.inner__form_btn {
  padding: 16px 25px;
  margin-left: -3px;
  font-size: 14px;
  font-weight: 600;
}
.articles__title {
  padding-bottom: 20px;
  font-size: 40px;
  line-height: 50px;
}
.card__card_img-img {
  margin: -2px;
  margin-bottom: -8px;
  opacity: 1;
  width: 270px;
  /* width: 101%; */
  height: 352px;
}
.clients__card_double.slick-slide {
  display: table;
  justify-content: center;
  margin: 10px 20px 50px 20px;

}
.faq__inner {
  width: 300px;
}
}
@media (max-width: 320px){

}